# Controller qualification

{
  "a:OPEN:container:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  },
  "a:PICK:target:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  },
  "a:PICK:second_object:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  },
  "a:PLACE:target:container:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  },
  "a:PLACE:second_object:container:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  },
  "a:PLACE_BUFFER:target:buffer:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  },
  "a:PLACE_BUFFER:second_object:buffer:v1": {
    "verified_success": 5,
    "attempts": 5,
    "wrong_object": 0,
    "nan": 0,
    "pass": true
  }
}
